.footer {
   background-color: $primary; 

   p {
       padding: 35px;
       color: #FFFFFF;
       font-size: 16px;

       @media screen and (max-width: 768px) {
           font-size: 14px;
       }
   }
}