// navbar
header {
    nav {
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: rgba(255,255,255,0);
        position: fixed;
        z-index: 100;
        width: 100%;
        transition: all 0.3s;
        
        .container {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            margin-top: 10px;
            
            .nav-brand img {
                // height: 57px;
                // justify-self: flex-start;
                padding: 15px 10px 15px 10px;
                margin-right: auto;

                @media screen and (max-width: 992px){
                    box-sizing: content-box;
                    height: 40px;
                }
            }

            .nav-brand-dark {
                display: none;
            }
    
            .nav-list {

                li {
                    display: inline-block;
                    padding: 20px 10px 20px 10px;
                    position: relative;
        
                    a {
                        text-decoration: none;
                        color: #FFFFFF;
                        font-size: 18px;
                        font-weight: 600;

                        @media screen and (max-width: 992px) {
                            color: $primary;
                        }
                        
                    }
        
                    ul {
                        position: absolute;
                        display: none;
                        flex-direction: column;
                        top: 50px;
                        left: -10px;
                        background-color: #fff;
                        min-width: 150px;

                        li {
                            padding: 15px 20px;

                            a {
                                color: #4e4e4e;
                            }
                        }   

                    }
        
                    .display-submenu {
                        display: flex;
                    }
        
                &:hover > ul, &:focus > ul {
                    display: flex;
                }
        
                }
                
            @media screen and (max-width: 992px) {
                position: absolute;
                right: 0px;
                top: 0px;
                // top: 82px;
                transform: translateX(100%);
                background-color: #FFFFFF;
                color: $primary;
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 50%;
                height: 100vh;
                transition: all 0.3s;
                padding-top: 80px;

                li {
                    text-align: center;
                    ul {
                        position: relative;
                        top: 15px;
                        left: 0;
                        right: 0;
                        margin-left: auto;
                        margin-right: auto;

                        li {
                            text-align: left;
                            padding-left: 60px;
                        }
                    }
                    
                }
            }

            }

            .nav-list-active {
                transform: translateX(0%);
            }

            .burger {
                padding: 20px 10px;
                display: none;
                width: 48px;

                .line {
                    height: 3px;
                    background-color: #FFFFFF;
                    margin-bottom: 7px;
                    margin-left: auto;
                    position: relative;
                    right: 0;
                    border-radius: 20px;
                    transition: width ease-in-out 0.3s;
                    
                } 

                .line1 {
                    width: 28px;
                }

                .line2 {
                    width: 25px;
                }

                .line3 {
                    width: 21px;
                }

                .line4 {
                    width: 0%;
                    height: 0;
                    // transition: width ease-in-out 0.3s, height 0s ease 0.5s, margin-bottom 0s ease 0.5s;
                }

                .line5 {
                    width: 0%;
                    height: 0;
                    // transition: width ease-in-out 0.3s, height 0s ease 0.5s, margin-bottom 0s ease 0.5s;
                }

                @media screen and (max-width: 992px) {
                    display: block;
                    position: relative;
                    z-index: 10000;
                }
            }

            .burger-active {
                .line {
                    background-color: $primary;
                }

                .line1 {
                    width: 0%;
                    height: 0;
                    margin-bottom: 0;
                    transition: width 0.3s ease-in-out , height 0s ease 0.5s, margin-bottom 0s ease 0.5s;

                }
                .line2 {
                    // transform: scale(0);
                    width: 0%;
                    height: 0;
                    margin-bottom: 0;
                    transition: width 0.3s ease-in-out 0.1s, height 0s ease 0.5s, margin-bottom 0s ease 0.5s;

                }
                .line3 {
                    // transform: rotate(-135deg);
                    width: 0%;
                    height: 0;
                    margin-bottom: 0;
                    transition: width 0.3s ease-in-out 0.2s, height 0s ease 0.5s, margin-bottom 0s ease 0.5s;

                }
                
                .line4, .line5 {
                    width: 28px;
                    height: 3px;
                }
                .line4 {
                    transform: translateX(3px) rotate(45deg) ;
                    transform-origin: top left;
                    transition: width 0.3s ease-in-out 0.5s, height 0s ease 0.5s, margin-bottom 0s ease 0.5s;
                }

                .line5 {
                    transform: translateY(10px) rotate(-45deg);
                    transform-origin: top left;
                    transition: width 0.3s ease-in-out 0.5s, height 0s ease 0.5s, margin-bottom 0s ease 0.5s;
                }
            }
        }
    }
    // .nav-scrolled {
    //     background-color: #FFFFFF;

    //     .container {
    //         .nav-brand {
    //             display: none;
    //         }

    //         .nav-brand-dark {
    //             display: block;
    //         }

    //         .nav-list {
    //             li {
    //                 a {
    //                     color: $primary;

    //                 }
    //             }
    //         }

    //         .burger {
    //             .line {
    //                 background-color: $primary;
    //             }
    //         }
    //     }
    // }

    .nav-scrolled {
        background-color: $third;

        .container {

            .nav-list {
                li {
                    a {
                        color: $white;

                        @media screen and (max-width: 992px){
                            color: $third;
                        }
                    }

                    ul {
                        a {
                            color: $third;
                        }
                    }
                }
            }

            .burger {
                .line {
                    background-color: $white;
                }
            }

            .burger-active {
                .line {
                    background-color: $third;
                }
            }
        }
    }
}