.btn {
    padding: 15px 18px;
    margin: 15px;
    border-radius: 15px;
    outline: none;
    text-decoration: none;
    border: none;
    font-size: 18px;
    font-weight: 600;
    font-family: Helvetica, Arial, "PingFangHK",  "Microsoft JhengHei", sans-serif;
    display: inline-block;
    cursor: pointer;
}