.hero {
    width: 100%;
    // height: 700px;
    height: 90vh;
    min-height: 700px;
    background-size: cover;
    position: relative;

    @media screen and (max-width: 425px) {
        height: 100vh;
        min-height: auto;
    }
    &::before {
        content: "";
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        background-color: #3C2F26;
        opacity: 56%;
    
    }
    
    .container {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
        z-index: 2;

        .text-wrapper {
            color: #FFFFFF;

            h1 {
                font-size: 60px;
                font-weight: 600;

                br {
                    display: none;
                }

                @media screen and (max-width: 765px) {
                    font-size: 42px;

                    br {
                        display: block;
                    }
                }
            }

            h2 {
                font-size: 42px;
                font-weight: 600;

                @media screen and (max-width: 765px) {
                    font-size: 32px;
                }
            }

            .btn {
                background-color: $primary;
                color: #FFFFFF;
                transition: background-color 0.5s;

                &:hover, &:focus, &:active {
                    background-color: $primary-contrast;
                }
            }
        }
    }
}

.card {
    padding: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;

    &>i {
        padding: 10px 15px;
        color: $primary;
    }

    h3 {
        font-size: 18px;
        color : $primary;
    }

    p {
        font-size: 14px;
        line-height: 20px;
        color: $minor;
    }

    .card-content {
        color: #2E2E2E;
    }

    .card-time {

        &::before {
            content: "- ";
        }
    }

    .btn {
        font-size: 16px;
        color: #FFFFFF;
        background-color: $primary;
        transition: background-color 0.5s;

        &:hover, &:focus, &:active {
            background-color: $primary-contrast;
        }
    }
}

.card-intro {
    margin: 60px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 768px) {
        margin-bottom: 0px;
    }

    h3 {
        font-size: 25px;
    }

    p {
        font-size: 16px;
        color: $minor;
    }
    
}

.jumbotron-news {
    background-color: #FFFFFF;

    .container {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
    }
}

.jumbotron {

    .glider-contain {
        margin: 60px;
        margin-left: auto;
        margin-right: auto;

        a {
            text-decoration: none;
        }
        .glider-arrow-container {
            max-width: 240px;
            margin-left: auto;
            margin-right: auto;
        }

        .glider {
            -ms-overflow-style: none;
            scrollbar-width: none;
            
            &::-webkit-scrollbar {
                height: 0px !important;
                width: 0 !important;
                background: transparent;
                display: none;
            }
            
        }

            .glider-prev, .glider-next {
                top: 45%;
    
                i {
                    font-size: 25px;
                }
            }

            .glider-prev {
                left: -40px;
            }
            
            .glider-next {
                right: -40px;
            }
            //1050px
            @media screen and (max-width: 768px) {
                .glider-arrow-container {
                    position: relative;
                }

                .glider-prev, .glider-next {
                    // bottom: -120px;
                    // bottom: 0px;
                    top: -30px;
                }

                .glider-prev {
                    left: 15px;
                }
                
                .glider-next {
                    left: 50px;
                    max-width: 25px;
                }

            }

            .glider-prev:hover,
            .glider-next:hover,
            .glider-prev:focus,
            .glider-next:focus {
                color: $primary;
            }
    }
}

.jumbotron-verse {
    background-color: $secondary;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;

    .text-wrapper {
        text-align: center;
        color: #FFFFFF;
        
        h3 {
            font-size: 52px;
        }

        h4 {
            font-size: 30px;
        }

        .btn {
            background-color: $secondary-contrast;
            color: #FFFFFF;
            transition: background-color 0.5s;

            &:hover, &:focus, &:active {
                background-color: #b8b1ab;
            }
            
        }

        @media screen and (max-width: 768px) {
            h3 {
                font-size: 38px;
            }
    
            h4 {
                font-size: 20px;
            }
    
        }
    }
}

.jumbotron-notice {
    background-color: #FFFFFF;

    .container {
        display: flex;
        // align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        height: 100%;
    }
}

#jumbotron-event {
    position: relative;
    top: -95px;
}

.jumbotron-event {
    padding: 30px;

    @media screen and (max-width: 769px) {
        padding: 0px;
    }

   .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

        .img-wrapper {
            padding: 50px;
            background-color: #EBEBEB;

            @media screen and (max-width: 768px) {
                padding: 30px;
            }

            img {
                object-fit: cover;
                width: 100%;
            }
        }
        .col-lg-5 {
            display: flex;
            justify-content: center;
            padding: 60px;

            .text-wrapper {
                margin-left: auto;
                margin-right: auto;

                h3 {
                    font-size: 25px;
                }

                h4 {
                    font-size: 20px;
                    color: $primary;
                }
            
                p {
                    font-size: 16px;
                    color: $minor;
                }

                .btn {
                    background-color: $primary;
                    color: #FFFFFF;
                    transition: background-color 0.5s;

                    &:hover, &:focus, &:active {
                        background-color: $primary-contrast;
                    }
                }
            }
        }
   }

}

.map {
    width: 100%;
    height: 850px;

    .gm-style-iw.gm-style-iw-c {
        padding: 20px !important;
    }
    .gm-ui-hover-effect {
        // display: none !important;
        margin: 10px !important;
    }
    .gm-style {
        font-family: Helvetica, Arial, "PingFangHK",  "Microsoft JhengHei", sans-serif;

        h3 { 
            font-size: 16px; 
            font-weight: 600 
        }

        .title {
            font-size: 17px; 
            margin-bottom: 0px
        }

        p {
            font-size: 13px; color: #676767; 
            font-weight: 400
        }

        i {
            margin-right: 10px;
        }
    }
}