.aigpl-gallery-album-wrp .aigpl-img-wrp,
.aigpl-gallery-wrp .aigpl-img-wrp {
    border: none;
    border-radius: 25px;
    padding: 0px;
    overflow: hidden;

    .aigpl-img-link {
        position: relative;
    }

    .aigpl-img {
        padding: 0px;
        transition: all 0.5s;
        position: relative;

    }

    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background-color: #000000;
        position: absolute;
        z-index: 500;
        top: 0;
        left: 0;
        opacity: 0;
        transition: all 0.5s;
        pointer-events: none;
    }

    &::after {
        border: none;
        border-style: none !important;
    }
    &:hover::before,
    &:focus::before {
        opacity: 15%;
    }
}

.aigpl-inr-wrp{
    .aigpl-img-title {
        text-align: left;
        margin-top: 10px;
        padding-left: 15px;
        color: $primary;
    }
    
    .aigpl-img-count.aigpl-center {
        text-align: left;
        padding-left: 15px;
        padding-top: 5px;
        font-size: 15px;
        color: #454545;
    }
}

.aigpl-breadcrumb-wrp {
    padding: 15px;
    font-weight: 500;
    color: $secondary;

    .aigpl-breadcrumb {
        text-decoration: none;
        color: $secondary;

        &:hover, &:focus {
            text-decoration: underline;
        }
    }

}

.gallery {
    margin-bottom: 30px;

    .filter-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .filter-title {
            font-size: 25px;
            margin-bottom: 0px;
        }

        .filter-form {
            padding: 10px 15px;
            text-align: right;

            .selectBox {
                padding: 10px 5px;
                color: $primary;
                border: 0px;
                cursor: pointer;
                appearance: none;
                -webkit-appearance: none;
                -moz-appearance: none;
                font-size: 16px;
                font-family: inherit;


                &:focus, &:hover {
                    outline: none;
                }

            }

            .selectBox-wrapper {
                cursor: pointer;
                margin-right: 15px;

                &::after {
                    content: "\f0d7";
                    font-family: "Font Awesome 5 Free";
                    font-weight: 900;
                    color: $minor;
                    pointer-events: none;
                }
            }

            @media screen and (max-width: 500px) {

                .selectBox {
                    font-size: 14px;
                    padding-right: 0px;
                }

                .selectBox-wrapper {
                    margin-right: 0px;
                }
            }

        }
    }
}