.text-container {
    padding-top: calc(108px + 15px);
    max-width: 760px;
    min-height: calc(95vh);

    .entry-title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 10px;
        padding-top: 30px;
    }

    .entry-meta {
        padding: 0px 15px 15px 15px;
        color: $minor;
        font-size: 13px;
        margin-bottom: 20px;
    }

    .post-thumbnail {
        img {
            width: 100%;
            height: 100%;
            padding: 15px;
            margin-bottom: 20px;
        }
    }

    .entry-content {
        img {
            width: 100%;
            height: 100%;
            padding: 15px;
            margin-bottom: 20px;
        }

        h2 {
            font-size: 25px;
        }

        p {
            font-size: 17px;
            line-height: 28px;
            margin-bottom: 20px;
        }

        strong {
            font-weight: bold;
        }

        //Add style for quote

        blockquote {
            border-color: $secondary;
            border-style: solid;
            background-color: #F8F8F8;
        
            /*rtl:ignore*/
            border-width: 0 0 0 0.2rem;
            color: inherit;
            font-size: 1em;
            margin: 2.5em 0;
        
            /*rtl:ignore*/
            padding: 0.5rem 0 0.5rem 2rem;

            p {
                margin-bottom: 0px;
                padding-top: 10px;
                padding-bottom: 10px;
            }
        }

        //Add style for list

        ul,
        ol {
            margin: 0 0 1.5em 1.5em;
        }
        
        ul {
            list-style: disc;
        }

        ul ul {
            list-style: circle;
        }

        ul ul ul {
            list-style: square;
        }

        ol {
            list-style: decimal;
        }

        ol ol {
            list-style: lower-alpha;
        }

        ol ol ol {
            list-style: lower-roman;
        }

        li {
            line-height: 1.5;
            margin: 0.5rem 0 0 2rem;
        }

        li > ul,
        li > ol {
            margin: 1rem 0 0 2rem;
        }
    }

    .entry-footer {
        padding: 0px 15px;
        margin-bottom: 30px;

        a {
            color: $secondary;
            text-decoration: none;
        }
    }
}