.text-container {
    padding-top: calc(102px + 15px);
    max-width: 760px;
    min-height: calc(100vh );

    .entry-title {
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 20px;
    }

    .entry-content {
        p {
            font-size: 17px;
            line-height: 28px;
            margin-bottom: 20px;
        }
    }
}