.content-wrapper {
    min-height: calc(95vh);
    padding-top: calc(108px + 15px);
}
.recording.text-container {
    max-width: 890px;
}

.recording {
    h1 {
        font-size: 28px;
    }

    .card-latest {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        width: 100%;
        margin: 30px 0px;
        background-color: #F8F8F8;
        padding: 30px;
        border-radius: 49px;

        .col-md-5 {
            padding-right: 15px;

            @media screen and (max-width: 768px) {
                margin: 0px 0px 30px 0px;
                padding: 0px;
            }
        }

        .col-md-7 {
            padding-left: 15px;
        }

        .img-wrapper {
            border-radius: 49px;
            overflow: hidden;

            img {
                object-fit: cover;
                width: 100%;
                height: 100%;
            }

        }

    }

    .archive-recording {
        &>div:nth-child(odd) {
            padding-right: 35px;

            @media screen and (max-width: 768px) {
                padding-right: 0px;
            }
        }
    }

    .card-wrapper {
        margin: 17.5px 0px;
    }

    .card {
        background-color: #F8F8F8;
        padding: 30px;
        border-radius: 49px;
        width: 100%;

        .preacher {
            font-size: 15px;
            font-weight: 500;
            color: $primary;

            i {
                margin-right: 10px;
            }
        }

        .time {
            font-size: 13px;
            font-weight: 500;
            color: $minor;
            float: right;
        }

        .card-title {
            font-size: 25px;
        }

        .quote {
            font-size: 16px;
            color: $minor;

            &::before {
                content: "- ";
            }
        }

        .wp-block-audio {
            // min-width: 200px ;
            margin-top: 15px;
            @media screen and (max-width: 768px) {
                display: none;
            }
        }
            
        .plyr-sm {
            display: none;

            @media screen and (max-width: 768px) {
                display: block;
            }
        }


        .plyr {
            --plyr-color-main: $primary;
            --plyr-audio-control-color-hover: #7f7f7f;
            --plyr-audio-controls-background: rgba(0,0,0,0);

            .plyr__controls {
                padding-bottom: 0px;
            }
            
            .plyr__volume {
                @media screen and (max-width: 768px) {    
                    min-width: inherit;
                    width: inherit;
                }
            }

        }
    }

    .filter-bar {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        .filter-title {
            font-size: 25px;
            margin-bottom: 0px;
        }

        .filter-form {
            padding: 10px 15px;
            //CSS filter form
            //Filter form save previous choice
        }
    }

    .archive-recording {
        display: flex;
        flex-wrap: wrap;
    }

    .pagination {
        display: flex;
        justify-content: center;
        margin: 40px 0px;

        a {
            text-decoration: none;
        }
        .page-numbers {
            font-size: 20px;
            margin: auto 10px;
            color: $minor;
        }
        .current {
            color: #202020;
        }

        .next, .prev {
            margin: 0;
        }

        i {
            font-size: 36px;
            color: $primary;
            margin: auto 15px;

            &.disable {
                color: #a5a5a5; 
            }
        }
        
    }
}

