$containerTransitionTime: 0.3s;

// colors
$primary: #343A40;
$primary-contrast: #474f57;
$secondary: #625C55;
$secondary-contrast: #978F87;
$third: #4d4842;
$minor: #676767;
$white: #FFFFFF;

//nav_breakpoint
$nav-breakpoint: 1199px;